.utilitySection{
	margin-left: 40px;
	justify-content: center;
	inline-size: 40vw;
	overflow: break-word;
	line-height: 2;
}
.gif{
	z-index: 1;
	border-radius: 20px;
	width: 40rem;
	height: 30rem;
}
.sectionTabs{
	margin-left:20px;
	display:inline-flex;
}