.navUl{
	list-style:none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navBar{
	z-index: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	justify-content: space-around;
	align-items: center;
	position:sticky;
	top:0;
	overflow: hidden;
	background-color: rgb(169, 169, 169,0.2);
}

.brand{
	margin-top: 10px;
	margin-left: 11rem;
	font-size: 3rem;
	font-weight: bold
}
a{
	text-decoration: none;
}
.dropdownUl{
	display: grid;
	grid-template-columns: auto auto;
}

.arrow{
	margin-top: 21px;
	margin-left: -20px;
}